.contentPart4 {
    width: 100%;
    height: 100vh;
}

.containerimgpart4 {
    height: 100%;
    background-image: url("../../../../assets/images/fondo/fondopart4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.izqpart4 {
    width: 40%;
    height: 100%;
}

.derpart4 {
    width: 45%;
    min-height: 300px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    border: 5px solid #fff;
    background-color: #fff;

}

.title-part4-der {
    width: 100%;
    font-size: calc(14px + 2.3vw);
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1.2;
    color: #2e6f7a;
    font-weight: 900;
}

.med-part4-der {
    width: 100%;
    height: 100%;
    color: #20515a;
    display: flex;
    flex-direction: column;
}

.med-part4-der .text-med {
    font-size: 1.2rem;
    margin-top: 10px;
}


@media screen and (max-width:800px) {
    .med-part4-der .text-med {
        font-size: 1rem;
    }
}

@media screen and (max-width:700px) {
    .izqpart4 {
        width: 25%;
    }

    .derpart4 {
        width: 55%;
    }
}

@media screen and (max-width:600px) {
    .izqpart4 {
        width: 5%;
    }

    .derpart4 {
        width: 75%;
    }
}