.embla {
  max-width: 95%;
  margin: auto;

}

.embla__viewport {
  overflow: hidden;
  height: 30vh;
  width: 100%;
}

.embla__container {
  backface-visibility: hidden;
  width: 100%;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(1rem * -1);
  height: 100%;
}

.embla__slide {
  flex: 0 0 20%;
  min-width: 0;
  width: 100%;
  padding-left: 1rem;
}

.embla__slide__image {
  box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
  width: 90%;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

@media screen and (max-width:700px) {
  .embla__slide__image {
    height: 60%;
  }
}